.navbar {
  background-color: crimson;
  padding: 10px;
}

.navbar ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 30px;
}
